* {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

body {
  background-color: #f5f6fa;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__left {
  flex: 0.8;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 980px) {
  .app {
    flex-direction: column;
  }
}
